@use "../node_modules/bootstrap/scss/bootstrap";

.jumbotron {
    background-color: #91008c;
    background-image: url("../images/conlang-flag.svg");
    background-repeat: no-repeat;
    background-position: center bottom -80px;
    background-size: auto 20rem;
    color: white;
    height: 20rem;
    @extend .mb-3;
}

.igt {
    td {
        @extend .pe-3;
    }
}

figcaption {
    font-style: italic;
}

.dl-aligned {
    @extend .row;

    > dt {
        @extend .col-sm-2;
    }

    > dd {
        @extend .col-sm-10;
    }
}

.fig-float-end {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .flex-column;
    @extend .float-lg-end;

    >img {
        @extend .p-3;
        @extend .ms-3;
    }
}