<footer class="container border-slate-500 clear-both pb-5 mt-5">
  <hr class="my-3">
  <div class="flex-wrap flex justify-between gap-5">
    <p class="w-2/3">
      The SCC Sign Language Linguistics Project is managed by and copyright © 2024 <a href="https://fredchan.org">Frederick Chan</a> and made available to the public under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0</a> license.
    </p>
    <div class="flex gap-3">
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="{{ '/assets/images/by-nc-sa.png' | absolute_url }}" alt="An 88x31 for the Seattle Conlang Club" width="88" height="31"></a>
      <a href="https://conlang.club"><img src="{{ '/assets/images/conlangclub-88x31.png' | absolute_url }}" alt="An 88x31 for the Seattle Conlang Club" width="88" height="31"></a>
    </div>
  </div>
</footer>