.page-index {
    #club-projects {
        > section {
            @extend .mb-5;
        }
    }

    #officers {
        .card {
            height: 100%;
        }
    }

    .quick-info {
        @extend .lead;
        @extend .row;
        @extend .mb-4;
        @extend .mt-4;

        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
        .quick-info {
            width: 50%;
        }
    }
}