.page-index h2 {
  @apply border-b;
  @apply border-slate-300;
}

.page-index #officers .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  @apply gap-3;
  @apply mx-auto;
}

.page-index #officers .card { 
  @apply border;
  @apply rounded;
  @apply p-3;
}

.page-index #officers .card-title {
  @apply text-2xl;
  @apply mb-3;
}

.page-index #club-projects > section {
  @apply mb-5;
}

.page-index #club-projects > section > header {
  @apply mb-3;
}

.page-index ul {
  list-style: disc;
  @apply pl-8;
}

.page-index figcaption {
  @apply italic;
}

.page-index > section {
  @apply mb-5;
}