---
title: Index
layout: sign-ling
description: Homepage of the SCC Sign Language Linguistics Project
---

<main class="container">
  <section>
    <p class="lead">The Seattle Conlang Club Sign Language Linguistics Project aims to compile information and resources for the study of sign language linguistics that is not focused on any specific sign language.</p>

    <p>Please note that even though this is a project of the Seattle Conlang Club, most sign languages are natural languages and not conlangs.</p>

    <p>This project is aimed primarily towards people interested in creating naturalistic sign language conlangs, but may also be useful for anyone interested in comparative sign language linguistics in general. It aims to provide readers with accurate information backed by academic sources wherever possible. If you spot any errors or have suggestions, please send an email to <a href="mailto:fredchan@conlang.club">fredchan@conlang.club</a>.</p>
  </section>

  <section>
    <h3>Table of contents</h3>
    <ol class="list-disc list-inside">
      <li>
        <span class="font-bold">Phonology</span>
        <ol class="list-disc ps-10">
          {% for item in site.sign-ling %}
            {% if item.chapter == 'Phonology' %}
              <li><a href="{{ item.url | relative_link }}">{{ item.title }}</a> - {{ item.description }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      </li>

      <li><a href="{{ 'links.html' | relative_link }}">Links</a> - Links to useful sign language linguistics resources</li>
    </ol>
  </section>
</main>