.page-trilangle-index {
  @extend .container;
  @extend .clearfix;

  .goals {
    h3 {
      @extend .h4;
    }
  }

  .trilangle-gloss {
    @extend .row;

    align-items: center;
    justify-content: center;

    >div {
      @extend .col;
    }

    .trilangle {
      @extend .justify-content-sm-end;
      justify-content: center;

      display: flex;
    }
  }
}