---
---
@layer utilities {
  .small-caps {
    font-variant: all-small-caps;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: HamNoSys;
  src: url( {{ '/assets/fonts/hamnosysunicode-webfont.woff2' | relative_url }} );
  size-adjust: 180%;
}

.font-encodesans {
  font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

ham-signs {
  font-family: HamNoSys;
}

.jumbotron {
  background-image: url("{{ 'assets/images/sea-conlang-flag.svg' | absolute_url }}");
  background-repeat: no-repeat;
  background-position: center bottom -3.4rem;
  background-size: auto 14rem;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    background-position: left 6rem bottom -3.3rem;
    background-size: auto 14rem;
    height: auto;
  }
}

.lead {
  @apply font-light;
  @apply text-xl;
}

.lead strong {
  @apply font-medium;
}

cite, .text-muted {
  @apply text-slate-500;
}

h2 {
  @apply text-3xl;
  @apply mb-3;
  @apply font-encodesans;
  @apply font-semibold;
}

h3 {
  @apply text-3xl;
  @apply font-encodesans;
}

.fig-float-end {
  @apply lg:float-end;
  @apply flex;
  @apply justify-center;
  @apply ms-5;
}

a {
  @apply text-blue-600;
  @apply underline;
}

a:hover {
  @apply text-blue-800;
}

a:visited {
  @apply text-purple-800;
}

.nav-link {
  @apply text-stone-400;
  @apply visited:text-stone-400;
  @apply hover:text-white;
  @apply no-underline;
}

p {
  @apply mb-3;
}

.igt td {
  @apply pe-3;
}

ul, ol {
  @apply list-inside;
  @apply ps-5;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}