---
---
@font-face {
  font-family: HamNoSys;
  src: url( {{ '/sign-ling/assets/fonts/hamnosysunicode-webfont.woff2' | relative_url }} );
  size-adjust: 180%;
}

ham-signs {
  font-family: HamNoSys;
}