<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="SCC Sign Language Linguistics Project" />
  <meta property="og:description" content="The Seattle Conlang Club Sign Language Linguistics Project aims to compile information and resources for the study of sign language linguistics that is not focused on any specific sign language. This project is aimed primarily towards people interested in creating naturalistic sign language conlangs, but may also be useful for anyone interested in comparative sign language linguistics in general." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://conlang.club/" />
  <meta property="og:image" content="/assets/images/conlang-flag.png" />

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <title>{{ page.title }} - SCC Sign Language Linguistics Project</title>
</head>
<body>
  {% include header.html %}

  {{ content }}

  <footer class="container mt-5 clear-both">
    <p class="border-t border-slate-300 pt-5">The SCC Sign Language Linguistics Project is managed by and copyright © 2024 <a href="https://fredchan.org">Frederick Chan</a> and made available to the public under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0</a> license.</p>
  </footer>

  <script src="{{ '/assets/js/hamnosys-elem.js' | relative_url }}"></script>
</body>
</html>
