<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="{{ page.title }} - Seattle Conlang Club" />
  <meta property="og:description" content="The official website of the Seattle Conlang Club" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://conlang.club/" />
  <meta property="og:image" content="/assets/images/conlang-flag.png" />

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  <link rel="stylesheet" href="/assets/css/main.css">
  <title>{{ page.title }} - Seattle Conlang Club</title>
</head>
<body>
  {% include header.html %}

  {{ content }}
</body>
</html>
