<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="{{ page.title }} - SCC Sign Language Linguistics Project" />
  <meta property="og:description" content="The official website of the Seattle Conlang Club" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://conlang.club/" />
  <meta property="og:image" content="/assets/images/conlang-flag.png" />

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  <link rel="stylesheet" href="/assets/css/main.css">
  <title>{{ page.title }} - SCC Sign Language Linguistics Project</title>
</head>
<body>
  {% include header.html %}

  <header class="container mb-5">
    <h2 class="mb-0">SCC Sign Language Linguistics Project</h2>
    <a href="/sign-ling/index.html" class="no-underline">← Project home</a>
  </header>

  {{ content }}

  <footer class="container mt-5">
    <p class="border-t border-slate-300 pt-5">The SCC Sign Language Linguistics Project is managed by and copyright © 2024 <a href="https://fredchan.org">Frederick Chan</a> and made available to the public under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0</a> license.</p>
  </footer>
</body>
</html>
